@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@font-face {
  font-family: "Verdana Regular";
  src: url("../fonts/Verdana.eot");
  src: url("../fonts/Verdana.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Verdana.woff") format("woff"),
    url("../fonts/Verdana.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Verdana Bold";
  src: url("../fonts/Verdana-Bold.eot");
  src: url("../fonts/Verdana-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Verdana-Bold.woff") format("woff"),
    url("../fonts/Verdana-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.lead {
  max-width: 697px;
  background: #eeeeee;
  padding: 18px 35px;
  font-family: "Roboto", sans-serif;
}
.lead__tooltip {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}
.lead__tooltip > div {
  display: inline-block;
  background: #c10707;
  color: white;
  padding: 5px 10px;
}
.lead__tooltip > span {
  margin-left: 19px;
  display: block;
}
.lead h3 {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}
.lead ul {
  margin-top: 10px;
  padding-left: 16px;
  font-family: "Verdana Regular", sans-serif;
}
.lead ul li {
  font-size: 15px;
  line-height: 26px;
}
.lead__form {
  margin-top: 20px;
}

.lead__form h4 {
  font-family: "Verdana Bold", sans-serif;
  font-size: 15px;
  margin-bottom: 8px;
  line-height: 26px;
}

.lead__form .input-wrapper {
  margin-top: 10px;
  width: 100%;
}

.lead__form input {
  width: 100%;
  padding: 4px 10px;
  color: #000;
  border: 0;
  outline: 0;
  font-family: "Verdana Regular", sans-serif;
  font-size: 15px;
  line-height: 26px;
}

.lead__form input::placeholder {
  color: #8e8e8e;
}

.lead__form button {
  border: 0;
  outline: 0;
  background: #111111;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 26px;
  padding: 4px 20px;
  margin-top: 10px;
  transition: all 0.3s ease;
}

.lead__form button:hover {
  background: #8e8e8e;
  color: white;
  cursor: pointer;
}

.lead__helper {
  margin-top: 10px;
}

.lead__helper a {
  color: #c10707;
  text-decoration: none;
  font-size: 15px;
  font-family: "Verdana Regular", sans-serif;
  line-height: 26px;
}

.lead__message-success {
  color: green;
  font-size: 15px;
  font-family: "Verdana Regular", sans-serif;
  line-height: 26px;
}
